* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Rubik;
}
body {
  background-image: url(https://get.wallhere.com/photo/artwork-minimalism-mountains-pink-digital-art-polygon-art-low-poly-1491061.jpg);
  background-size: cover;
}
.container {
  margin: 0 20px;
}

h1 {
  text-align: center;
  margin: 15px 0;
  font-weight: 700;
}

main {
  display: flex;
  justify-content: space-between;
}

form {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

input,
select {
  display: block;
  height: 30px;
  background-color: pink;
  margin: 10px 0;
}

.btn {
  height: 40px;
  background: none;
  border: none;
  background-color: rgb(255, 100, 126);
  border-radius: 10px;
  margin-bottom: 10px;
}

.clear {
  width: 50vw;
  background-color: rgb(233, 90, 255);
}

h3 {
  margin-bottom: 10px;
}

.mainUsers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.users {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
}

.user {
  width: 40vw;
  margin-bottom: 10px;
  background-color: pink;
  padding: 10px;
  margin-top: 10px;
}

.user-outer {
  display: flex;
  justify-content: space-between;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.delete,
.change {
  border: none;
  height: 40%;
  color: white;
  padding: 0 10px;
  border-radius: 10px;
}

.delete {
  background: rgb(233, 90, 255);
}

.change {
  background: rgb(255, 100, 126);
}

@media screen and (max-width: 767px) {
  main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h3 {
    margin-top: 10px;
  }
  .user {
    width: 70vw;
  }
  form {
    width: 70vw;
  }
  .clear {
    width: 70vw;
}
